.DS_Store
node_modules
/dist
functions/node_modules
functions/nieveseats-firebase-adminsdk-lu3vq-b8c6651e39.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
